@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #fdfffc;
    --bg-card: #011627;
    --font-color: #fdfffc;
    --bg-color-button-create: #2ec4b6;
    --bg-color-button-cancel: #ea3449;
    --bg-footer: #011627;
    --bg-color-message-success: #2bbe54;
    --bg-color-message-error: #ea3449;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    min-height: 100vh;
    width: 100%;
}
.card-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color);
    padding: 20px;
}
.card {
    background-color: var(--bg-card);
    width: 90%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr) repeat(2, 70px);
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1rem;
}
.info-user {
    display: flex;
    flex-direction: column;
    border: 1px solid #1b263b;
    padding: 5px;
    align-items: center;
}
.info-user .header {
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1b263b;
    place-self: center;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}
.card .icon {
    width: 30px;
    
}
.card .button {
    display: flex;
    justify-content: center;
}
.button-create,
.button-submit {
    background-color: var(--bg-color-button-create);
    padding: 10px 15px;
    color: var(--font-color);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
    transition: all .2s;
}
.form-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
    padding: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    background-color: var(--bg-card);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.form .input-user {
    margin-bottom: 15px;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1b263b;
    background: none;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: var(--font-color);
}
.button-submit {
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 0;
}
.button-create:hover,
.button-submit:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #1a8075;
}
.button-cancel {
    background-color: var(--bg-color-button-cancel);
    padding: 10px 15px;
    color: var(--font-color);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .2s;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 20px;
}
.button-cancel:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #970d1d;
}
.footer {
    width: 100%;
    height: 70px;
    background-color: var(--bg-footer);
    color: var(--font-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.message-container {
    width: 100%;
    position: relative;
}
.success-message,
.error-message {
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0.7;
    left: 0;
    top: 0;
}

.success-message {
    background-color: var(--bg-color-message-success);
}
.error-message {
    background-color: var(--bg-color-message-error);
}